.data{
  background-color: white;
  border: 1px solid black;
  position: fixed;
  z-index: 99999;
  top: 60px;
  right: 0px;
  left: 25%;
  bottom: 0px;
}

.dataholder{
  min-height: 200px;
}


.table{
  font-size: 12px;
}
