<ion-header>
  <ion-toolbar>
    <ion-title> {{dateLoaded?date:"Milk Collection"}}</ion-title>
    <ion-buttons slot="end"  *ngIf="dateLoaded">
      <ion-button color="primary" (click)="uploadData()">Upload</ion-button>
      <ion-button color="danger"  (click)="dateLoaded=false">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf=" (auth.hasPermission(['02.09','02.02.11']))">

    <div *ngIf="!dateLoaded">

      <div class="row m-0">
        <div class="col-md-3 col-6" *ngIf="centers.length>1">
          <strong>Center</strong>
          <select class="form-control" [(ngModel)]="center_id">
            <option *ngFor="let lc of centers" [ngValue]="lc.id">{{lc.name}}</option>
          </select>
        </div>
        <div class="col-md-3 col-6" *ngIf="centers.length===1">
          <strong>
            center
          </strong>
          <div>
            {{center.name}}
          </div>
        </div>
        <div class="col-md-3 col-6">
          <strong>
            Date
          </strong>
          <div>
            <input type="text" [(ngModel)]="date" class="form-control">
          </div>
        </div>
        <div class="col-md-3 col-6">
          <strong>Session</strong>
          <select class="form-control" [(ngModel)]="session">
            <option value="0">Morning</option>
            <option value="1">Evening</option>
          </select>
        </div>
        <div class="col-md-3 col-6 pt-4">
          <button class="btn btn-success w-100" (click)="loadData()">Load</button>
        </div>

      </div>
    </div>

    <div *ngIf="dateLoaded">

      <div class="data {{nofocused?'':'d-none'}}" >
        <div class="bg-white sticky-top">

          <div class="row m-0">
            <div class="col-10 p-0">
              <input type="text"  id="sno" (input)="selectFarmers($event)" class="form-control no-border-radius no-outline" placeholder="Search Farmers">

            </div>
            <div class="col-2 text-end">
              <button class="btn btn-danger " (click)="resetSelectFarmer()">
                &times;
              </button>
            </div>
          </div>
        </div>
        <table class="table" >
          <tr *ngFor="let farmer of selectedFarmers" (click)="selectFarmer(farmer.no)">
              <td>{{farmer.no}}</td>
              <td>{{farmer.name}}</td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <span>
          Total Milk
        </span>
        <span>
          {{totalMilk.toFixed(3)}}
        </span>
      </div>
          <div class="row m-0">
            <div class="col-3 p-0"><input type="number" [(ngModel)]="no"  id="no" placeholder="no" (blur)="focusOut($event)" (focus)="nofocused=true;selectFarmers($event)" class="form-control no-border-radius no-outline" (input)="selectFarmers($event)" required="required"></div>
            <div class="col-3 p-0"><input type="number" [(ngModel)]="amount" id="milk" placeholder="Milk" class="form-control no-border-radius no-outline" required="required"></div>
            <div class="col-3 p-0"><input type="number" [(ngModel)]="fat" id="fat" placeholder="Fat" class="form-control no-border-radius no-outline"></div>
            <div class="col-3 p-0"><input type="number" [(ngModel)]="snf" id="snf" placeholder="Snf" class="form-control no-border-radius no-outline" (keypress)="checkSave($event)"></div>
          </div>
        <div class="dataholder" (click)="nofocused=false;">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th style="width:100px;">Name</th>
                <th>Milk</th>
                <th>FAT</th>
                <th>SNF</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let milkData of MilkDatas" [ngClass]="{'text-success': milkData.sync===1}"  (dblclick)="showDetail(milkData)">
                <th>{{milkData.no}}</th>
                <th >
                  <div style="width:100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                    {{milkData.name}}
                  </div>
                </th>
                <th>{{milkData.amount}}</th>
                <th>{{milkData.fat}}</th>
                <th>{{milkData.snf}}</th>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <ion-modal [isOpen]="isEditing">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Manage Milk Data</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="resetEdit();">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="row">
            <div class="col-4 p-0">
               <strong>Qty</strong>
             </div>
             <div class="col-4 p-0">
              <strong>Fat</strong>
            </div>
            <div class="col-4 p-0">
              <strong>Snf</strong>
            </div>
            <div class="col-4 p-0"><input class="form-control no-border-radius" placeholder="Morning" #snfInput [(ngModel)]="e_amount" type="number" ></div>
            <div class="col-4 p-0"><input class="form-control no-border-radius" placeholder="Morning" #snfInput [(ngModel)]="e_fat" type="number" ></div>
            <div class="col-4 p-0"><input class="form-control no-border-radius" placeholder="Morning" #snfInput [(ngModel)]="e_snf" type="number" ></div>
            <div class="col-4 px-0 pt-2"><button class="btn btn-success w-100" (click)="updateData()" >Update</button></div>
            <div class="col-4"></div>
            <div class="col-4 px-0 pt-2"><button class="btn btn-danger w-100" (click)="deleteData();" >Delete</button></div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

  <h6 class="p-2"  *ngIf=" !(auth.hasPermission(['02.09','02.11']))">
    You Dont Have permssion to manage milk collection
  </h6>
</ion-content>
