<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Rates
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="initAdd()">Add New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="p-3">

    <div class="row" *ngIf="mode!==0 && rate!==undefined" [ngClass]="{'readonly': working}">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Enter rate name" [(ngModel)]="rate.name">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" placeholder="Enter Milk rate" [(ngModel)]="rate.rate">
      </div>
      <div class="col-12"></div>
      <div class="col-md-3 col-6">
        <button class="btn btn-success w-100" (click)="save()">Save</button>

      </div>
      <div class="col-md-3 col-6">
        <button class="btn btn-danger w-100" (click)="mode=0">Cancel</button>

      </div>
    </div>
    <div *ngIf="mode===0" [ngClass]="{'readonly': working}">
      <div class="shadow mb-3" *ngFor="let rate of rates" >
        <div class="row m-0">
          <div class="col-md-6">
              <strong>
                Name
              </strong>
              <div>
                {{rate.name}}
              </div>
          </div>
          <div class="col-md-3 col-6">
            <strong>
              Fat Rate
            </strong>
            <div>
              {{rate.rate??'--'}}
            </div>
          </div>
        </div>
        <hr class="mb-1">
        <div class="d-flex justify-content-between p-2">
            <button class="btn btn-success" (click)="initEdit(rate)">Edit</button>
            <button class="btn btn-danger" (click)="initDelete(rate)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
