<ion-content fullscreen="true" >
  <div  [ngClass]="{'d-none': !setting.setup}" >
    <div class="container py-2">
      <div class="image">
        <img src="/assets/icon/icon.png" alt="">
      </div>
    </div>

    <div class="p-3 mt-3">
      <h5 class="fw-bolder text-center">
        Welcome Back
      </h5>
      <div class="input mb-3">
        <input type="number" [(ngModel)]="phone" placeholder="Enter Phone Number">
      </div>
      <div class="input mb-2">
        <input type="password" [(ngModel)]="password" placeholder="Enter Password">
      </div>
      <div *ngIf="!auth.loading">
        <div class="btn btn-primary  mt-1 p-2 w-100" (click)="login()">
          Login
        </div>
      </div>
      <div class="text-center" *ngIf="auth.loading">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="!setting.setup" class="p-5">
    <button class="btn btn-primary py-5 w-100 " (click)="link()">Link Device</button>
  </div>

</ion-content>
