<ion-header>
  <ion-toolbar>
    <ion-title>sync</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <div class="row">
      <div class="col-6 mb-2" [routerLink]="['/sync/center']" routerLinkActive="router-link-active" *ngIf="setting.sync.center.f">
        <div class="px-2 py-4 text-center shadow">
          Center Data <ion-icon name="cloud-download-outline"></ion-icon>
        </div>
      </div>
      <div class="col-6 mb-2" [routerLink]="['/sync/farmer']" routerLinkActive="router-link-active"  *ngIf="setting.sync.farmer.f">
        <div class="px-2 text-center py-4 shadow">
          Farmer Data <ion-icon name="cloud-download-outline"></ion-icon>
        </div>
      </div>
      <div class="col-6 mb-2" [routerLink]="['/sync/customer']" routerLinkActive="router-link-active"  *ngIf="setting.sync.customer.f">
        <div class="px-2 text-center py-4 shadow">
          Customer Data <ion-icon name="cloud-download-outline"></ion-icon>
        </div>
      </div>
      <div class="col-6 mb-2" [routerLink]="['/sync/customer']" routerLinkActive="router-link-active"  *ngIf="setting.sync.bills.b">
        <div class="px-2 text-center py-4 shadow">
          Bills <ion-icon name="cloud-upload-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
