<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="p-3">
    <div [ngClass]="{'d-none': loaded}">
      <div class="row m-0">
        <div class="col-md-3 col-6" *ngIf="centers.length>1" >
          <strong>Center</strong>
          <select class="form-control">
            <option *ngFor="let lc of centers" [ngValue]="lc.id">{{lc.name}}</option>
          </select>
        </div>
        <div class="col-md-3 col-6" *ngIf="centers.length===1" >
          <strong>
            center
          </strong>
          <div>
            {{center.name}}
          </div>
        </div>
        <div class="col-md-3 col-6" >
          <strong>
            Date
          </strong>
          <div>
            <input type="text" [(ngModel)]="date" class="form-control">
          </div>
        </div>
        <div class="col-md-3 col-6" >
          <strong>Session</strong>
          <select class="form-control" [(ngModel)]="session">
            <option value="Morning">Morning</option>
            <option value="Evening">Evening</option>
          </select>
        </div>
        <div class="col-md-3 col-6 pt-4">

          <button class="btn btn-success w-100" *ngIf="!loaded" (click)="loadData()">Load</button>
        </div>

      </div>
    </div>
    <div *ngIf="loaded">
      <div class="d-flex justify-content-between">
        <strong>{{center.name}}</strong>
        <strong>{{session}}</strong>
        <strong>{{date}}</strong>
      </div>
      <hr>
      <div class="d-flex ">
        <div style="flex:2;">
          <input type="number" #noinput placeholder="Farmer No" class="form-control no-border-radius no-outline" [(ngModel)]="no">
        </div>
        <div style="flex:2;">
          <input type="number" #amountinput placeholder="Milk Liter"  class="form-control no-border-radius no-outline" (keypress)="check($event)" [(ngModel)]="amount">
        </div>
        <div style="flex:1;">
          <button class="btn btn-success no-border-radius no-outline">Save</button>
        </div>
      </div>
      <hr>
      <div class="shadow mb-3 p-3" *ngFor="let milkData of milkDatas">
        <div>
          <strong>Farmer</strong> : {{milkData.name}}
        </div>
        <div class="row ">
          <div class="col-6">
            <strong>Morning</strong> : {{milkData.m_amount}}
          </div>
          <div class="col-6">
            <strong>Evening</strong> : {{milkData.e_amount}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
