<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores dignissimos dicta voluptatem excepturi magnam rem, possimus natus delectus quos pariatur ratione praesentium autem officia nesciunt distinctio voluptates provident dolorem aliquid?
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
