<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dairy Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dairy Management</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="p-3">

    <div class="row ">
      <div class="col-md-3 col-6" *ngFor="let item of activeParts(setting.home)" [routerLink]="[item.path]" routerLinkActive="router-link-active" >
        <div class="item shadow">
          {{item.title}}
        </div>
        </div>
    </div>
  </div>
</ion-content>
