<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dairy Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dairy Management</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="row">
    <div class="col-md-3 col-6" [routerLink]="['/pages/centers']" routerLinkActive="router-link-active" >
      centers
    </div>
    <div class="col-md-3 col-6" [routerLink]="['/pages/rates']" routerLinkActive="router-link-active" >
      rates
    </div>
    <div class="col-md-3 col-6" [routerLink]="['/pages/snffat']" routerLinkActive="router-link-active" >
      snf fat
    </div>
    <div class="col-md-3 col-6" [routerLink]="['/reports']" routerLinkActive="router-link-active" >
      Reports
    </div>
    <div class="col-md-3 col-6" [routerLink]="['/pages/setting']" routerLinkActive="router-link-active" >
      Settings
    </div>
    <div class="col-md-3 col-6" [routerLink]="['/sync']" routerLinkActive="router-link-active" >
      sync
    </div>
    <div class="col-md-3 col-6" (click)="del()" >
      del
    </div>
  </div>
</ion-content>
