<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Farmer detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3" *ngIf="loaded">
    <div class="row m-0">
      <div class="col-3">
        Year
      </div>
      <div class="col-3">
        Month
      </div>
      <div class="col-3">
        Session
      </div>
      <div class="col-12"></div>
      <div class="col-3 p-0">
        <select  class="form-control no-outline no-border-radius" [(ngModel)]="year"  >
          <option *ngFor="let yr of years"  [value]="yr">
            {{yr}}
          </option>
        </select>
      </div>
      <div class="col-3 p-0">
        <select  class="form-control no-outline no-border-radius" [(ngModel)]="month"  >
          <option *ngFor="let mnt of months"  [value]="mnt">
            {{mnt}}
          </option>
        </select>
      </div>
      <div class="col-3 p-0">
        <select  class="form-control no-outline no-border-radius" [(ngModel)]="session"  >
          <option *ngFor="let ses of sessions"  [value]="ses">
            {{ses}}
          </option>
        </select>
      </div>
      <div class="col-3 p-0">
        <button  class="btn btn-success no-outline w-100 no-border-radius" (click)="loadData()" >
          Load
        </button>
      </div>
    </div>
    <hr>
    <div *ngIf="detailLoaded">
      <div>
        <h5>Milk Collection</h5>
        <div class="row m-0">
          <div class="col-3 p-0">
            Date
          </div>
          <div class="col-3 p-0">Morning</div>
          <div class="col-3 p-0">Evening</div>
          <div class="col-3 p-0"></div>
        </div>

        <app-single-milk-component *ngFor="let milkData of milkDatas" [milkData]="milkData" (updated)="milkUpdated($event)"></app-single-milk-component>
        <div class="row m-0">
          <div class="col-3 p-0">
            <strong>Total</strong>
          </div>
          <div class="col-3 ">{{m_total}}</div>
          <div class="col-3 ">{{e_total}}</div>
        </div>
      </div>
      <hr>
      <div>
        <h5>Advance/Peski</h5>
        <div class="row m-0">
          <div class="col-3 p-0">
            Date
          </div>
          <div class="col-6 p-0">Amount</div>
          <div class="col-3 p-0"></div>
        </div>

        <app-single-milk-component *ngFor="let milkData of milkDatas" [milkData]="milkData" (updated)="milkUpdated($event)"></app-single-milk-component>
        <div class="row m-0">
          <div class="col-3 p-0">
            <strong>Total</strong>
          </div>
          <div class="col-6 ">{{m_total}}</div>
        </div>
      </div>

      <hr>
      <table class="table">
        <tr >
          <th class="text-end w-25">
            Total Milk
          </th>
          <td class="ps-2">{{m_total+e_total}}</td>
        </tr>
        <tr *ngIf="setting.rateType===1">
          <th class="text-end w-25">
            Rate
          </th>
          <td class="ps-2">
            {{rate.rate}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
