<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Customers
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sticky-top bg-white">
    <input type="text" (input)="search.search($event)" class="form-control" placeholder="searchCustomer">
  </div>
  <table class="table table-bordered">
    <tr>
      <th>
        Phone
      </th>
      <th>
        Name
      </th>
    </tr>
    <tr *ngFor="let customer of search.searchCustomers">
      <td>
        {{customer.phone}}
      </td>
      <td>
        {{customer.name}}
      </td>
    </tr>
  </table>

</ion-content>
