<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Farmers
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="loadData()">
        R
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Farmers</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <select class="form-control" [(ngModel)]="center_id" (change)="centerChanged($event)">
      <option *ngFor="let center of centers" [value]="center.id">{{center.name}}</option>
    </select>
  </div>
  <app-farmer-list #farmerlist [farmers]="filterdList"></app-farmer-list>
</ion-content>
